$montserrat: 'Montserrat', sans-serif
$poppins: 'Poppins', sans-serif
$primary-color: #fff
$primary-color-x: #f7f5f8
$secondary-color: #7a7a91
$secondary-color-x: #ffffff57
$tertiary-color: #ff7d05
$tertiary-color-x: #ff7e23
$quaternary-color: #000
$quaternary-color-x: #0000008f
$quinary-color: #2f327d
